/* src/pages/Login/Login.module.css */

.loginPage {
  min-height: calc(100vh - 120px);
  background-color: var(--dark-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loginContainer {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: var(--dark-primary);
  border: 2px solid var(--light-primary);
}

.loginForm {
  width: 100%;
}

.loginTitle {
  color: var(--light-primary);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  color: var(--light-primary);
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-primary);
  background-color: var(--dark-primary);
  color: var(--light-primary);
  font-size: 16px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-primary);
  color: var(--light-primary);
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 3px, solid, var(--light-primary);
}

.loginButton:hover {
  background-color: var(--light-primary);
  color: var(--dark-primary);
}

.error {
  color: var(--secondary-acent-color);
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .loginContainer {
    padding: 20px;
  }
}
