/* MediaReviews.module.css */
.mediaReviews {
  background-color: var(--dark-primary);
  color: var(--light-primary);
  font-family: var(--font-body);
  padding: var(--spacing-2xl) var(--spacing-md);
  padding-bottom: var(--spacing-3xl);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

.reviewSection {
  margin-bottom: var(--spacing-3xl);
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}

.sectionTitle {
  font-family: var(--font-heading);
  font-size: var(--font-size-3xl);
  color: var(--light-primary);
  margin: 0;
  margin-right: var(--spacing-md);
}

.sortContainer {
  position: relative;
  z-index: var(--z-index-dropdown);
}

.reviewListContainer {
  position: relative;
}

.gradientLeft,
.gradientRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.gradientLeft {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradientRight {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradientShow {
  opacity: 1;
}

@media (max-width: 768px) {
  .gradientLeft,
  .gradientRight {
    display: none;
  }
}

.scrollArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-2xl);
  color: var(--light-primary);
  z-index: 3;
  padding: 2rem;
  pointer-events: auto;
  padding: 10px;
}

.scrollArrowLeft {
  left: 1rem;
}

.scrollArrowRight {
  right: 1rem;
}

.reviewList {
  display: flex;
  overflow-x: auto;
  gap: var(--spacing-lg);
  padding: var(--spacing-sm) 0;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  margin: 0 -var(--spacing-md);
  padding: 0 var(--spacing-md);
  scrollbar-width: none;
}

.reviewList::-webkit-scrollbar {
  display: none;
}

.addReviewSection {
  margin-bottom: var(--spacing-2xl);
}

.addReviewButton {
  background-color: var(--accent-color);
  color: var(--light-primary);
  border: none;
  padding: var(--spacing-sm) var(--spacing-xl);
  border-radius: var(--border-radius-sm);
  /* cursor: pointer; */
  font-size: var(--font-size-base);
  transition: background-color var(--transition-normal);
}

.addReviewButton:hover {
  background-color: var(--secondary-accent-color);
}

.error {
  padding: var(--spacing-md);
  background-color: var(--delete-button-color);
  color: var(--light-primary);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--spacing-xl);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(5px);
  }
}

@media (max-width: 768px) {
  .mediaReviews {
    padding: var(--spacing-md);
    height: 100vh;
  }

  .reviewList {
    scroll-snap-type: x mandatory;
    touch-action: pan-x pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .sectionTitle {
    font-size: var(--font-size-2xl);
  }

  .scrollArrow,
  .gradientLeft,
  .gradientRight {
    display: none;
  }
}
