/* src/components/BlogPostForm/BlogPostForm.module.css */

.blogForm {
  margin-bottom: 40px;
  width: 100%;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #31312e;
  color: #fff;
}

.textarea {
  height: 200px;
  resize: vertical;
}

.submitButton {
  background-color: #d97757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #b85f3d;
}
