/* src/components/EmailLink/EmailLink.module.css */

.emailLink {
  display: inline-flex;
  align-items: center;
  background-color: var(--dark-primary);
  color: var(--light-primary);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--light-primary);
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.emailLink:hover {
  background-color: var(--dark-hover);
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.emailIcon {
  margin-right: 0.5rem;
}

.emailAddress {
  font-weight: 500;
}
