/* src/components/LoadingSpinner/LoadingSpinner.module.css */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark-primary);
}

.spinnerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
}

.spinner {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot1,
.dot2,
.dot3 {
  width: 24px;
  height: 24px;
  background-color: var(--light-primary);
  border-radius: 50%;
  position: absolute;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot1 {
  left: 0;
  animation-delay: -0.32s;
}

.dot2 {
  animation-delay: -0.16s;
}

.dot3 {
  right: 0;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  .dot1,
  .dot2,
  .dot3 {
    animation: none;
  }
}
