.hero {
  text-align: center;
  padding: 4rem 0;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 8.5rem; /* Adjust based on your text size and line height */
}

.hero p {
  font-size: 1.2rem;
  color: var(--secondary-text);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem 0;
  }

  .hero h1 {
    font-size: 2.5rem;
    min-height: 6rem; /* Adjust for smaller screens */
  }
}
