/* src/components/ImageCard/ImageCard.module.css */

.imageCard {
  position: relative;
  overflow: hidden;
  background-color: var(--dark-primary);
  cursor: pointer;
}

.image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.imageCard:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.imageCard:hover .overlay {
  transition: opacity 0.3s ease;
}

.date {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
