/* src/components/Footer/Footer.module.css */

.footer {
  background-color: var(--dark-primary);
  padding: 1rem 0;
  position: relative;
  border-top: 2px solid var(--light-primary);
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 2rem;
}

.socialLink {
  color: var(--light-primary);
  font-size: 2rem;
  text-decoration: none;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease;
}

.socialLink:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.adminLink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.loginLink,
.logoutButton {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: var(--light-primary);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  opacity: 0.2;
}

.loginLink:hover,
.logoutButton:hover {
  color: var(--light-primary);
  opacity: 1;
}

@media (max-width: 768px) {
  .footerContent {
    padding: 0 1rem;
  }

  .socialIcons {
    gap: 1.5rem;
  }

  .socialLink {
    font-size: 1.75rem;
  }

  .loginLink,
  .logoutButton {
    font-size: 0.7rem;
  }
}
