/* src/components/EditBlogPostForm/EditBlogPostForm.module.css */

.editForm {
  display: flex;
  flex-direction: column;
}

.editInput,
.editTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  background-color: #2b2a28;
  color: #fff;
}

.editTextarea {
  height: 200px;
  resize: vertical;
}

.editButtons {
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.cancelButton {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.saveButton {
  background-color: #d97757;
  color: white;
}

.cancelButton {
  background-color: #4a4a4a;
  color: white;
}

.saveButton:hover,
.cancelButton:hover {
  opacity: 0.8;
}
